###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*                   text=auto

###############################################################################
# Source code
###############################################################################
*.cs                text diff=csharp

###############################################################################
# Project and solution files
###############################################################################
*.sln               text eol=crlf
*.csproj            text eol=crlf

###############################################################################
# Graphics
###############################################################################
*.png               binary

###############################################################################
# Settings
###############################################################################
*.json              text

###############################################################################
# Git
###############################################################################
.gitattributes      text
.gitignore          text

###############################################################################
# Docker
###############################################################################
Dockerfile          text
.dockerignore       text

###############################################################################
# Documentation
###############################################################################
*.md                text


###############################################################################
# Exclude files from exporting
###############################################################################
.gitattributes      export-ignore
.gitignore          export-ignore
.gitkeep            export-ignore
